<?xml version="1.0"?>

<config>
    <modules>
        <Dintero_Checkout>
            <version>1.0.0</version>
        </Dintero_Checkout>
    </modules>
    <global>
        <blocks>
            <dintero>
                <class>Dintero_Checkout_Block</class>
            </dintero>
        </blocks>
        <models>
            <dintero>
                <class>Dintero_Checkout_Model</class>
           </dintero>
        </models>
        <helpers>
            <dintero>
                <class>Dintero_Checkout_Helper</class>
            </dintero>
        </helpers>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <dintero>
                    <file>dintero.xml</file>
                </dintero>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
         <routers>
            <dintero>
                <use>standard</use>
                <args>
                    <module>Dintero_Checkout</module>
                    <frontName>dintero</frontName>
                </args>
            </dintero>
        </routers>
        <layout>
            <updates>
                <authorizenet>
                    <file>dintero.xml</file>
                </authorizenet>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dintero_Checkout before="Mage_Adminhtml">Dintero_Checkout_Adminhtml</Dintero_Checkout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <payment>
            <dintero>
                <active>0</active>
                <account_id/>
                <model>dintero/dintero</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <environment>1</environment>
                <title>Dintero Checkout</title>
                <client_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <client_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <checkout_profile_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <allowspecific>0</allowspecific>
                <currency>NOK</currency>
                <logo_type>1</logo_type>
                <logo_width>600</logo_width>
                <logo_color>#c4c4c4</logo_color>
            </dintero>
        </payment>
    </default>
</config>
